# Copyright (c) 2017 Xiaomi Technologies, Inc.
# All Rights Reserved.
# Confidential and Proprietary - Xiaomi Technologies, Inc.
#
service citsensor-hal-2-0  /odm/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input
